<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>My Wish List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
</head>
<body>
    <div class="container"><br>
    <h1>Hello, {{user.name}}!!</h1><br>
    <a href="/logout">Logout</a>

    <h4>Your Wish List:</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Added By</th>
          <th scope="col">Date Added</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {%for lists in lists_liked%}
            {% if lists.added_by_id == request.session.user_id %}
        <tr>
            <td scope="row"><a href="/viewList/{{lists.id}}">{{lists.item_product}}</a></td>
            <td>{{lists.added_by.name}}</td>
            <td>{{lists.created_at}}</td>
            <td><a href="/delete/{{lists.id}}">Delete<td></td>
        </tr>
        {% else %}
        <tr>
            <td scope="row"><a href="/viewList/{{lists.id}}">{{lists.item_product}}</a></td>
            <td>{{lists.added_by.name}}</td>
            <td>{{lists.created_at}}</td>
            <td><a href="/removeList/{{lists.id}}">Remove from my Wishlist<td></td>
        </tr>
            {% endif %}
        {%endfor%}
      </tbody>
    </table>
    <h4>Other Users' Wish List:</h4>
        <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Item</th>
            <th scope="col">Added By</th>
            <th scope="col">Date Added</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        </tbody>
            {%for lists in other_lists%}
            <tr>
            <td scope="row"><a href="/viewList/{{lists.id}}">{{lists.item_product}}</a></td>
            <td>{{lists.added_by.name}}</td>
            <td>{{lists.created_at}}</td>
            <td><a href="/likeList/{{lists.id}}">Add to my Wishlist</a></td>
            </tr>
            {%endfor%}
        </tbody>
        </table>

        <a href="/add">Add Item</a>

        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
